.DS_Store

node_modules
/frontend/node_modules
dist/

.env.local
.env.*.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

.env

todos.txt

*.tfvars
*.tfstate
*.tfstate.backup
*/**/.terraform
