.DS_Store
node_modules
/frontend/dist
/frontend/node_modules
/backend/dist

.env.local
.env.*.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

output.zip
.env