.DS_Store
node_modules
/frontend/dist
/frontend/node_modules
/backend/dist

.env.local
.env.*.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

output.zip
.env

todos.txt

*.tfvars
*.tfstate
*.tfstate.backup
*/**/.terraform

# todo temp
testy.js
output.zip
